{% extends "base_layout.html" %}

{% block title %}About – Gruvbox Journal{% endblock %}

{% block content %}
    <h1>{{ header }}</h1>
    
    <h2>Staff</h2>
    <ul>
        {% for person in staff %}
            <li>{{ person }}</li>
        {% endfor %}
    </ul>
    
    <h2>Director</h2>
    <div>Name: {{ directors.name }}, Image: {{ directors.img }}</div>
    
    <h2>Address</h2>
    <p>
        {% for part in address %}
            {{ part }}<br>
        {% endfor %}
    </p>
{% endblock %}